################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MouseController_FileBuilder/MouseController_FileBuilder
